<div class="p-3">
  <h1>Table</h1>
  <p-table #dt [value]="customers" styleClass="p-datatable-sm" [(selection)]="selectedCustomers" dataKey="id"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    responsiveLayout="scroll" [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [filterDelay]="0"
    [globalFilterFields]="['name','country.name','representative.name','status']">

    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-start ">
        <span class="p-2">Controles da tabela</span>
        <span class="ml-3 p-input-icon-left ">
          <i class="pi pi-search"></i>
          <input type="text" class="p-inputtext-sm" pInputText #iptSearch formControlName="searchControl"
            placeholder="Procurar">
        </span>
        <p-dropdown class="p-dropdown-sm ml-3" [options]="cities" (ngModel)="selectedCity1" placeholder="Select a City"
          optionLabel="name" [showClear]="true"></p-dropdown>
        <p-button label="Small" icon="pi pi-check" styleClass="p-button-sm p-button-primary" class="ml-3"></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center column-title">
            Name
            <p-sortIcon field=" name">
            </p-sortIcon>
            <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="country.name">
          <div class="flex justify-content-between align-items-center column-title">
            Country
            <p-sortIcon field="country.name"></p-sortIcon>
            <p-columnFilter type="text" field="country.name" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="representative.name">
          <div class="flex justify-content-between align-items-center column-title">
            Agent
            <p-sortIcon field="representative.name"></p-sortIcon>
            <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false" class="ml-auto">
              <ng-template pTemplate="header">
                <div class="px-3 pt-3 pb-0">
                  <span class="font-bold">Agent Picker</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect ([ngModel])="value" [options]="representatives" placeholder="Any"
                  (onChange)="filter($event.value)" optionLabel="name">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <img [alt]="option.label" src="assets/showcase/images/demo/avatar/{{option.image}}" width="32"
                        style="vertical-align: middle" />
                      <span class="ml-1">{{option.name}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="date">
          <div class="flex justify-content-between align-items-center column-title">
            Date
            <p-sortIcon field="date"></p-sortIcon>
            <p-columnFilter type="date" field="date" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="balance">
          <div class="flex justify-content-between align-items-center column-title">
            Balance
            <p-sortIcon field="balance"></p-sortIcon>
            <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="ml-auto">
            </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="status">
          <div class="flex justify-content-between align-items-center column-title">
            Status
            <p-sortIcon field="status"></p-sortIcon>
            <p-columnFilter field="status" matchMode="equals" display="menu" class="ml-auto">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown ([ngModel])="value" [options]="statuses" (onChange)="filter($event.value)"
                  placeholder="Any">
                  <ng-template let-option pTemplate="item">
                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="activity">
          <div class="flex justify-content-between align-items-center column-title">
            Activity
            <p-sortIcon field="activity"></p-sortIcon>
            <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false" class="ml-auto">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-slider ([ngModel])="activityValues" [range]="true" (onSlideEnd)="filter($event.values)"
                  styleClass="m-3">
                </p-slider>
                <div class="flex align-items-center justify-content-between px-2">
                  <span>{{activityValues[0]}}</span>
                  <span>{{activityValues[1]}}</span>
                </div>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </td>
        <td>
          <span class="p-column-title">Name</span>
          {{customer.name}}
        </td>
        <td>
          <span class="p-column-title">Country</span>
          <i class="pi pi-exclamation-triangle mr-3" style="color: #F50000"></i>
          <span class="image-text">{{customer.country.name}}</span>
          <i class="pi pi-check-circle ml-3" style="color: #00B273"></i>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" (ngModel)="customer.representative.name">
            </ng-template>
            <ng-template pTemplate="output">
              {{customer.representative.name}}
            </ng-template>
          </p-cellEditor>
        </td>


        <td>
          <span class="p-column-title">Date</span>
          {{customer.date }}
        </td>
        <td>
          <a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" queryParamsHandling="merge"
            style="font-style: italic;">
            {{customer.balance}}
          </a>
        </td>
        <td>
          <span class="p-column-title">Status</span>
          <a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" queryParamsHandling="merge"
            style="font-style: italic !important;" class="linkModal">
            <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
          </a>

        </td>
        <td>
          <span class="p-column-title">Activity</span>
          <p-progressBar class="p-progressbar-sm" [value]="customer.activity" [showValue]="false"></p-progressBar>
        </td>
        <td style="text-align: center">
          <button pButton type="button" label="Ação" class="p-button-sm"></button>
          <button pButton type="button" icon="pi pi-check" class="p-button-sm ml-1"></button>

        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>

  </p-table>

</div>
